.comment {
    width: 350px;
    max-width: 350px;
    min-height: 50px;
    border-radius: 25px;
    padding: 15px 15px;
    margin-top: 5px;
    margin-left: 15px;
    background-color: rgba(211, 211, 211, 0.2);
    overflow: auto;
}   
.icon {
    width: 35px;
    height: 30px;
    margin-top: 5px;
}
.publish-comment {
    width: 50%;
    height: auto;
    margin-bottom: 15px;
}