.view {
    display: none;
}

.active-view {
    display: block;
}
.navbar .nav-link.active {
    color: #2D68C4; /* Change to your preferred color */
    text-decoration: underline;
}
.scrolling-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 75px;
    width: 100%;
}

.scrolling-content {
    display: inline-block;
    margin: 10px 20px 10px 20px;
}
.logo {
    border-radius: 50%;
}
.avatar {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.feed-container {
    border: 1px solid black;
    background-color: rgba(211, 211, 211, 0.2);
    border-radius: 15px;
}
